body {
  background-color: #1a2a33;
}

.container {
  display: flex;
  height: 500px;
  width: 800px;
  background-color: #1f3641;
  border-radius: 10px;
  margin: 0 auto;
}

.Guru {
  height: 462px;
  width: 417px;
}

.Advice p {
  font-size: 30px;
  color: white;
  margin-right: 10px;
}

.NewAdvice {
  display: flex;
  width: 800px;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.Btn {
  box-shadow: inset 0px -8px 0px #118c87;
  background-color: #31c3bd;
  border: none;
  width: 150px;
  height: 48px;
  border-radius: 5px;
  font-size: 20px;

  cursor: pointer;
}

.Btn:hover {
  background-color: #f2b137;
  box-shadow: inset 0px -8px 0px #cc8b13;
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 500px) {
  .container {
    margin-top: 10px;
    height: 550px;
    width: 100vw;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 5px;
    padding-right: 5px;
  }
  .advice p {
    font-size: 25px;
  }
  .advice {
    width: 100vw;
    margin-left: 5px;
    margin-right: 5px;
  }

  .Guru {
    height: 308px;
    width: 278px;
  }

  .NewAdvice {
    width: 100vw;
  }

  .Btn {
    width: 175px;
  }
}
