h1 {
  font-size: 50px;
}

ol,
ul {
  list-style: none !important;

  list-style-type: none !important;
}

@font-face {
  font-family: "baloo";
  src: url("/fonts/baloo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

:root {
  --font-body: -apple-system, "Segoe UI", Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif, system-ui, "Apple Color Emoji", "Segoe UI Emoji";
  --font-display: baloo, var(--font-body);
}

body {
  font-family: var(--font-body);
}

h1 {
  font-size: 26px;
  font-family: var(--font-display);
}

p {
  font-family: var(--font-display);
}

a {
  text-decoration: none;
  color: white;
  font-family: var(--font-display);
}

a:hover {
  color: #f2b137;
}

button {
  font-family: var(--font-display);
}

.submit {
  font-family: var(--font-display);
}

.link {
  color: white;
}

#toolbar ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.toolbar-list {
  color: white;
  display: flex;
  flex-direction: row;
  width: 700px;
}

.link:hover {
  color: #f2b137;
}
