* {
  margin: 0;
}

body {
  background-color: #1a2a33;
}

.weather-container {
  background-color: #1a2a33;
}

.weather {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.weather-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -15px;
}

.weather-icon {
  height: 64px;
  width: 64px;
}

.intro {
  color: white;
}

.City {
  color: #31c3bd;
}

.State {
  color: #f2b137;
}

#form {
  margin: 0 auto;
  display: flex;
  background-color: #1f3641;
  justify-content: space-between;
  height: 52px;
  width: 400px;
  border: 15px;
  border-radius: 10px;
}

#search {
  border: none;
  outline: #31c3bd;
  background-color: #1f3641;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  font-size: 20px;
  font-family: var(--font-display);
  color: white;
  padding-left: 10px;
  border-radius: 10px;
}

#search.search-query {
  color: white;
  background-color: #1f3641;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.submit {
  background-color: #31c3bd;
  box-shadow: inset 0px -8px 0px #118c87;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 85px;
  font-size: 20px;
}

.submit:hover {
  background-color: #f2b137;
  box-shadow: inset 0px -8px 0px #cc8b13;
  cursor: pointer;
}

.content {
  width: 400px;
  height: 380px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #1f3641;
  margin-top: 75px;
  border-radius: 10px;
  box-shadow: inset 0px -8px 0px #10212a;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.temperature p {
  font-size: 50px;
  text-align: center;
  margin-top: 0;
  color: white;
}

.additional-weather-info {
  margin-left: 10px;
}

.additional-weather-info p {
  font-size: 20px;
  color: lightgrey;
  font-weight: light;
}

.data {
  font-size: 22px;
  color: #f2b137;
}

.credit {
  color: lightgray;
  text-align: right;
  margin-top: 10px;
}

.credit a {
  color: #f2b137;
}

@media screen and (max-width: 500px) {
  .submit {
    height: 50px;
    width: 100px;
  }

  #search {
    height: 48px;
  }

  .content {
    width: 90%;
  }
}
