* {
  margin: 0;
}

.weather-container {
  --bg1: url(/images/cloudy.jpg);
  --bg2: url(/images/clear.jpg);
  --bg3: url(/images/partly-cloudy.jpg);
  --bg4: url(/images/overcast.jpg);
  --bg5: url(/images/rain.jpg);
  background-image: url(/images/clear.jpg);
  background-size: cover;
  position: absolute;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -100;
}

.cloudy {
  background-image: url(/images/cloudy.jpg);
}

.clear {
  background-image: url(/images/clear.jpg);
}

.weather {
  display: flex;
  flex-direction: column;
}

#form {
  margin: 0 auto;
  display: flex;
}

#search {
  border: none;
  outline: none;
  background-color: #1a2a33;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  font-size: 20px;
}

.submit {
  background-color: #31c3bd;
  box-shadow: inset 0px -8px 0px #118c87;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 85px;
  font-size: 20px;
}

.sumbit:hover {
  background-color: #f2b137;
  box-shadow: inset 0px -8px 0px #cc8b13;
  cursor: pointer;
}

.container {
  width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #1f3641;
  margin-top: 75px;
}

.temperature p {
  font-size: 60px;
  text-align: center;
  border: solid red;
  margin-top: 0;
}
